body {
  font-family: "Raleway", "Microsoft JhengHei", sans-serif;
  margin: 0;
  padding: 0;
  background: #f0efe9;
}

.todoForm {
  width: 40%;
  height: auto;
  max-width: 378px;
  min-width: 360px;
  min-height: 400px;
  margin: 25px auto;
  border-radius: 7px;
  box-shadow: 0 0 5px #cfd0d5;
  background: white;
}

.todoForm .title {
  text-align: center;
  font-size: 1.9rem;
  color: #56596a;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
}

.done,
.undone {
  color: #919191;
  font-size: 1.5rem;
}

.done span,
.undone span {
  padding: 3px;
  margin-right: 10px;
  border: 1px solid #cfd0d5;
  border-radius: 3px;
}

.done {
  opacity: 0.6;
}

.done span {
  opacity: 1;
}

.undone span {
  color: #fff;
}

#item {
  /* border: solid 1px red */
  display: flex;
  justify-content: space-between;
  margin: 18px 8px;
  border-bottom: 1px solid lightgrey;
}
.form-inline {
  display: flex;
  justify-content: center;
}

.form-inline .form-control {
  /* width: 80%; */
  padding: 4px;
	margin-right: 2px;
	font-size: medium;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    display: block;
  }
}

.form-inline .form-control:focus {
  border-color: #3f51b5;
  box-shadow: inset 0 1px 1px rgba(255, 186, 116, 0.075),
    0 0 8px rgba(255, 186, 116, 0.6);
}

.form-inline input {
  height: 35px;
}

.form-inline button[type="submit"] {
}

/* .form-inline button[type="submit"]:before {
  content: "+";
  position: absolute;
  left: 16px;
  top: 4px;
} */
